body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: #222222;
  overflow: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

#fake-canvas {
  width: 100vw;
  height: 100vh;
}

#lives-display {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 50px;
  color: #a0d8b3;
}

#streak-display {
  position: absolute;
  left: 15%;
  transform: translate(-50%);
  font-size: 50px;
  color: #a0d8b3;
}

#play-space {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  color: #a0d8b3;
}

#guess-word {
  font-size: 100px;
  text-align: center;
}

#letters {
  position: absolute;
  display: grid;
  width: 950px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.letter-buttons {
  background-color: #a0d8b3;
  color: #222222;
  border: solid 2px #d6d6d634;
  list-style-type: none;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10%;
  margin-right: 50px;
  padding: 5px 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.input-style {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #a0d8b3;
  outline: 0;
  font-size: 1.3rem;
  color: #a0d8b3;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

#btn-style {
  position: relative;
  background-color: #a0d8b3;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  margin-top: 30px;
  left: 37%;
  cursor: pointer;
}

.done-screen {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #222222;
  color: #a0d8b3;
}

.done-text {
  text-align: center;
  font-size: 100px;
}

.done-word {
  text-align: center;
  font-size: 80px;
}

.done-btn {
  font-size: 70px;
  font-weight: 700;
  position: absolute;
  background-color: #a0d8b3;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

#player-modes {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: #222222;
  color: #a0d8b3;
}

#player-modes-title {
  text-align: center;
  font-size: 80px;
}

#one-player-btn {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  background-color: #a0d8b3;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  left: 35%;
  transform: translate(-50%);
  cursor: pointer;
}

#two-player-btn {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  background-color: #a0d8b3;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  left: 65%;
  transform: translate(-50%);
  cursor: pointer;
}

.tried-letter-wrong {
  filter: grayscale(100%) brightness(50%);
  pointer-events: none;
}

.tried-letter-correct {
  filter: grayscale(100%) brightness(150%);
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  #player-modes-title {
    text-align: center;
    font-size: 30px;
  }

  #one-player-btn {
    width: 250px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    background-color: #a0d8b3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  #two-player-btn {
    width: 250px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    background-color: #a0d8b3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  #letters {
    position: absolute;
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    left: 35%;
    top: 70%;
    transform: translate(-50%, -50%);
  }
  .letter-buttons {
    background-color: #a0d8b3;
    color: #222222;
    border: solid 2px #d6d6d634;
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-right: 25px;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
  }

  #guess-word {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
    font-size: 40px;
  }

  #lives-display {
    font-size: 30px;
    position: absolute;
    left: 45%;
    transform: translate(-50%);
    color: #a0d8b3;
  }

  #streak-display {
    position: absolute;
    left: 47%;
    top: 5%;
    transform: translate(-50%);
    font-size: 25px;
    color: #a0d8b3;
  }

  .done-text {
    text-align: center;
    font-size: 50px;
  }

  .done-word {
    text-align: center;
    font-size: 30px;
  }

  .done-btn {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    background-color: #a0d8b3;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
  }
}
